            
     <h2>Current Students</h2>
          <p><input type='text' ng-model='search_value' > Enter Search text</p>
          <table class="table table-bordered table-striped">
              <tr>
                  <th>SID</th>
                  <th>Name</th>
                  <th>Major</th>
                  <th>Midterm</th>
                  <th>Final</th>
                  <th>Average</th>
              </tr>
              <tr ng-repeat = "st in students | filter : search_value ">
                  <td>{{st.sid}}</td>
                  <td>{{st.last_name}}</td>
                  <td>{{st.major}}</td>
                  <td>{{st.midterm}}</td>
                  <td>{{st.final}}</td>
                  <td>{{ ((st.midterm + st.final) / 2).toFixed(1) }}</td>
              </tr>
         </table>
           
